* {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main {
  height: 100vh;
  padding-block: 50px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1800px;
  margin: 1rem auto;
  border-radius: 10px;
}
.t1 {
  margin-bottom: 3rem;
  width: 100%;
  padding: 0 1.5rem;
  text-align: center;
  box-sizing: border-box;
}

.title {
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}
.para {
  font-size: 18px;
  text-align: center;
  margin-block: 8px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: rgb(86, 102, 131);
}

.child {
  height: 350px;

  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 2rem;
}

.element__item {
  border-top: 4px solid rgb(68, 178, 179);
  display: flex;
  max-width: 380px;
  gap: 20px;
  flex-direction: column;
  border-radius: 0px 0px 10px 10px;
  padding: 1.5rem;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.item {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 17px;
}
.item__title {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: rgb(119, 119, 119);
}
.element__content {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgb(86, 102, 131);
}
